/* Large devices (desktops, less than 1200px) */

@media screen and (max-width: 1199px) {
    .header-social {
        display: none;
    }
    #site-navigation {
        max-width: 86.66667%;
        flex: 0 0 82.6667%;
    }
    #section-content {
        padding-right: 15px;
    }
    #sidebar {
        padding-left: 15px;
    }
}

@media screen and (max-width: 1023px) {
    #section-content {
        border-right: 0;
    }
    #mobile-menu {
        display: block;
    }
}


/* Medium devices (tablets, less than 992px) */

@media screen and (max-width: 991px) {}


/* Small devices (landscape phones, less than 768px) */

@media screen and (max-width: 767px) {
	.footer-menu {
		text-align: center;
	}

	.footer-copyright .footer-right {
		margin-top: 20px;
	}

	.footer-copyright .footer-left {
		text-align: center;
	}
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {}
